{$SERVER_DOMAIN} {
    @api path /api/* /docs /openapi.json
    handle @api {
        reverse_proxy api:8000
    }

    # Вот наше правило для логов (обрати внимание, просто handle, без _path)
    handle /bimba-daylog-dozzle-logs* {
        reverse_proxy dozzle:8080
    }

    handle {
        reverse_proxy frontend:80
    }
}